<div class="word">
  {{currentVideo.word}}
</div>

<!-- youtube player -->
{{ember-youtube
    ytid=currentVideo.id
    autoplay=true
    volume=100

    showControls=false
    showTime=false
    showProgress=false
    showDebug=false

    delegate=controller
    delegate-as="myPlayer"

    playing="ytPlaying"
    paused="ytPaused"
    ended="ytEnded"
    buffering="ytBuffering"}}
<!-- player end -->

<div id="overlay">
</div>
<div id="next" {{action 'nextVideo'}}>
</div>
<div id="currentThumb" style="text-align: center;">
    <a {{bind-attr href=currentVideo.externalUrl}} target="_blank"><img class="thumbnail" {{bind-attr src=currentVideo.thumbnail}}></a>
    <br><img {{action 'showPrevious'}} id="previous-arrow" style="width: 60px;"src="/img/down.png"/>
</div>

<div class="previous">
  {{#each model.watchedVideos as |video|}}
    <a {{bind-attr href=video.externalUrl}} target="_blank"><img class="thumbnail" {{bind-attr src=video.thumbnail}}></a>
  {{/each}}
</div>

<div id="initial-logo">
  <h1>YouHole</h1>
  <img id='page-logo-initial' src="img/logo.png" alt="you-hole logo" />
</div>

<div id="logo">
  <h1>YouHole</h1>
  <img id='page-logo' src="img/logo.png" alt="you-hole logo" />
</div>
