<div class="word">
  {{currentVideo.word}}
</div>
<div class="video" style="width: 100vw; height:100vh">
  <iframe allowfullscreen="allowfullscreen" id="ytplayer" type="text/html" width="100%" height="100%"
    {{bind-attr src=currentVideo.fullUrl}}
    frameborder="0"/>
</div>
<div id="overlay">
</div>
<div id="next" {{action 'nextVideo'}}>
</div>
<div id="previous">
  {{#each model.watchedVideos as |video|}}
    <a {{bind-attr href=video.externalUrl}} target="_blank"><img class="thumbnail" {{bind-attr src=video.thumbnail}}></a>
  {{/each}}
</div>
<div id="fade-out-title">
  <h1>YouHole</h1>
</div>
<div id="fade-out-logo">
  <img style="height: 30vh" id='page-logo' src="img/logo.png" alt="you-hole logo" />
</div>
